body {
  width: 960px;
}

/*Header*/
header {
  width: 960px;
  height: 40px;
  margin-bottom: 30px;
}

header h2 {
  font-size: 20px;
  font-family: 'Yesteryear', cursive;
}

nav img {
  float: left;
}

#social-list {
  float: right;
  vertical-align: middle;
}

#social-list li {
    display: inline-block;    
}

#title {
  margin-bottom: 30px;
}

#title h1 {
  font-family: 'Anton', sans-serif;
  font-size: 40px;
}

/*main*/
main {
  width: 960px;
}

main img {
  width: 960px;
}

section {
  line-height: 23px;
  text-indent: 30px;
  font-size: 20px;
}



/*footer*/
footer button {
    color: white;
    background: salmon;

section p {
  margin: 30px 0px 30px 0px;
}

#recipe {
  height: 200px;
  margin-top: 30px;
  padding: 20px;
  font-size: 20px;
  margin: auto;
  background-image: url(../img/list-bg.png);
  column-count: 2;

}

#recipe li{
  margin: 10px;
}

/*footer*/
 footer {
   height: 200px;
 }
