body {
  width: 960px;
}

/*Header*/
head {
  width: 960px;
  height: 300px;
  margin-bottom: 30px;
}

#logo-list h2 {
  font-size: 30px;
  
}
h2 {
    font-family: 'Yesteryear', cursive;

}

nav img {
  float: left;
}

#social-list {
  float: right;
}

#social-list li {
    display: inline-block;    
}

/*main*/
main {
  width: 960px;
}

main img {
  width: 960px;
}

#recipe {
    border: 2px solid black;
    background-image: url('img/list-bg.png');
}

/*footer*/


